.topnav {
    height: 60px;
}

.leftnavcontainer {
    padding: 0;
}

.leftnavbox {
    background-color: #FFFFFF;
    height: 100%;
    font-size: 20px;
    color: #000066;
}


.rightnavbox {
    background-color: #FFFFFF;
    color: #525199;
    font-size: 25px;
    text-align: right;
    height: 100%;
}

.rightnavcontainer {
    padding: 0;
}

.contentform {
    min-height: calc(100vh - 60px);
}

.formcontainer {
    padding: 0;
}

.formbox {
    background-color: #F0F0F0;
    text-align: center;
    min-height: 100%;
}

.viewcontainer {
    border: 2px solid #eeeeee;
    border-radius: 8px;
    background: #FFFFFF;
    width: 600px;
    text-align: center;
    padding: 15px;
    height: 100%;
    top: 25px;
    bottom: 25px;
    left: 500px;
    right:500px ;
    position: relative;
}

.Warning-message p {
    color: black;
   text-align: left;
    font-size: 18px;
    line-height: 24px;
}
.notification{
    color: #FF6200;
}
a{
    text-decoration: underline;
}

input {
    width: 100%;
    border-radius: 4px;
    height: 40px;
    padding: 8px 12px;
    border-top: 1px solid rgb(105, 105, 105);
    background: transparent;
    font-weight: normal;

}

input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;

}

.btncontainer button {
    background: #FF6200;
    color: #F0F0F0;
    border-radius: 8px;
    outline: 0;
    border: 0;
    height: 40px;
    font-size: 19px;
    font-weight: bold;
}

button:last-child {
    background: #FFFFFF;
    color: #525199;
}

.formdata {
    text-align: left;
}

.formdata h1{
    font-size: 2rem;
    margin-top: 25px;
    color: #FF6200;
}

.formdata label {
    margin: 20px 0px 0px 0px;
    color: rgb(51, 51, 51);
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;

}

.remember {
    margin: 22px 0 40px 0;
}

.remember input[type="checkbox"] {
    height: 25px;
    width: 25px;
    accent-color: #FF6200;
}


.remember input:hover[type="checkbox"] {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    accent-color: #FF6200;
}

span {
    color: rgb(17, 17, 17);
    font-size: 20px;
    position: relative;
    bottom: 5px;
}

.btncontainer {
    text-align: left;
}

.flex-container {
    border: 3px solid #FF6200;
    display: flex;
    height: 100%;
    padding: 15px;
    gap: 2px;
}

.flex-container>div {
    padding: 8px;
}

.header-content {

    display: flex;
      
    /* flex-flow: row; */ 
    flex-direction: row;  
    height: 100%;
    padding: 15px;
    gap: 5px;
  }

  .header-content > div{
   
  }


  .logo{ 
    /* flex:0 1 auto; */
    flex-grow:0;
   
   
  }